<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Webpage</title>
    <style>
        table,tr,th,td
        {
            border: 2px solid black;
            border-collapse: collapse;
            width: 700px;
            text-align: center;
        }
    </style>
</head>
<body>
   <center>
    <h1>Display Webpage</h1>
        <table cellspacing="5px" cellpadding="5px">
            <tr>
                <th>PK value</th>
                <th>Topic Name</th>
                <th>Name</th>
                <th>URL</th>
                <th>Email</th>
            </tr>

            {% for wo in QLWO %}
                <tr>
                    <td>{{wo.pk}}</td>
                    <td>{{wo.topic_name}}</td>
                    <td>{{wo.name}}</td>
                    <td>{{wo.url}}</td>
                    <td>{{wo.email}}</td>
                </tr>
            {% endfor %}

        </table>
   </center> 
</body>
</html>